@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
html, body, button, input, img, p {
  background: black;
  color: lime;
  --scrollbarBG: #000000;
  --thumbBG: #00ff00;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  display: inline-block;
  font-family: system-ui;
  font-size: 1rem;
  border: 0;
  border-radius: 0.25rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem; 
  cursor: default; 
}
body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
button:focus, input:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
button:active, input:active {
    transform: scale(0.99);
}
#idx { border: 3px solid #000000; width: 500px; }
#idx td.center { text-align: center; }
#idx td { border-bottom: 1px solid #000000; }
#idx img { margin-bottom: -2px; }
#idx table { color: #00ff00; width: 100%; margin-top:3px; }
#idx span.link { color: #00ff00; cursor: pointer; }
#idx .rounded { padding: 10px 7px 10px 10px; -moz-border-radius:6px; }
#idx .gray { background-color:#000000;border-bottom: 1px solid #00ff00; }
#idx p { padding: 0px; margin: 0px;line-height:1.4em;}
#idx p.left { float:left;width:60%;padding:3px;color:#00ff00;}
#idx p.right {float:right;width:35%;text-align:right;color:#00ff00;padding:3px;}
#idx strong { font-family: "Trebuchet MS", tahoma, arial; font-size: 1.2em; font-weight: bold; color: #00ff00; padding-bottom: 3px; margin: 0px; }
#idx a:link    { color: #00ff00; }
#idx a:visited { color: #00ff00; }
#idx a:hover   { text-decoration: none; }
#idx a:active  { color: #00ff00; }