@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
html, body {
  height: 100%;
  width: 100%;
  background: black;
  color: lime;
  --scrollbarBG: #000000;
  --thumbBG: #00ff00;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  position: -webkit-sticky;
  position: sticky;
  display: inline-block;
  margin-inline: max(0px, ((100% - 64rem) / 2));
  cursor: auto;
}
body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
button, input {
  background-color: #00ff00; /* Green */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}